:root { 
--black_900_b2:#000000b2; 
--orange_400_7f:#ff9f197f; 
--gray_100_a2:#f2f2f2a2; 
--orange_400_7f_01:#ff98337f; 
--indigo_A200:#627eea; 
--red_A700_3f:#f300003f; 
--gray_800_01:#4c4c4c; 
--black_900_3f:#0000003f; 
--gray_50:#f9f9f9; 
--orange_700_7f:#ff7f007f; 
--white_A700_71:#ffffff71; 
--white_A700_cc:#ffffffcc; 
--white_A700_33:#ffffff33; 
--green_A700:#20d85f; 
--yellow_800:#e6b31e; 
--black_900:#000000; 
--yellow_900:#f7931a; 
--blue_gray_900_01:#172852; 
--purple_A400:#dc1fff; 
--pink_500:#e6007a; 
--blue_gray_900:#262735; 
--red_A700:#f30000; 
--black_900_26:#00000026; 
--black_900_4c:#0000004c; 
--gray_700:#666666; 
--gray_400:#bfbfbf; 
--blue_gray_100:#d9d9d9; 
--gray_500:#999999; 
--gray_800:#444444; 
--gray_900:#262626; 
--orange_700:#ff7f00; 
--green_A700_3f:#20d85f3f; 
--orange_400:#ff9f19; 
--yellow_A700:#ffd400; 
--gray_300:#e6e6e6; 
--orange_200:#ffbf7f; 
--teal_A400:#00ffa3; 
--gray_100:#f2f2f2; 
--orange_50:#fff2e5; 
--black_900_33:#00000033; 
--gray_400_01:#b8b9bb; 
--orange_400_01:#ff9833; 
--white_A700_bf:#ffffffbf; 
--white_A700:#ffffff; 
}